.guaranty{
  background-color: $violet;
  color: $text-white;
  padding: 70px 0 20px;
  position: relative;
  @media (max-width: $breakpoint-md){
    padding: 30px 0 60px;
  }
  &__bg{
    overflow: hidden;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 100%;
    width: 100%;
    height: 260px;
    &:before{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 0;
      background-color: $violet;
      transform: scaleX(1.2) translateY(-100%) rotate(9deg);
      transform-origin: 0 0;
    }
  }

  &__title{
    font-size: 38.75px;
    line-height: (50.3/38.75);
    font-weight: normal;
    text-align: center;
    margin: 0 0 60px;
    text-transform: uppercase;
    @media (max-width: $breakpoint-md){
      font-size: 18px;
      margin: 0 0 30px;
    }
  }
  &__item{
    text-align: center;
    @media (max-width: $breakpoint-md){
      padding: 0 20px 70px;
    }
    &:before{
      content: '';
      display: block;
      margin: 0 auto 30px;
    }
    &--one{
      &:before{
        @include sprite($s-gar-label);
      }
    }
    &--two{
      &:before{
        @include sprite($s-gar-calendar);
      }
    }
    &--three{
      &:before{
        @include sprite($s-gar-box);
      }
    }
  }
}
