.important{
  padding: 60px 0 50px;
  @media (max-width: $breakpoint-md){
    padding: 40px 0 10px;
  }
  &__title{
    font-size: 38.75px;
    line-height: (50.3/38.75);
    font-weight: normal;
    text-align: center;
    margin: 0 0 10px;
    text-transform: uppercase;
    @media (max-width: $breakpoint-md){
      font-size: 18px;
      margin: 0 10px 30px;
    }
  }
  &__list{
    padding-left: 0;
    margin: 50px 0;
    list-style-type: none;
    columns: 2;
    @media (max-width: $breakpoint-xl){
      columns: 1;
      text-align: center;
      margin: 20px 0;
    }
    li{
      color: $text-black;
      font-size: 20px;
      line-height: 3;
      display: inline-block;
      margin-right: -60px;
      @media (max-width: $breakpoint-xl){
        margin-right: 0;
        width: 100%;
      }
      @media (max-width: $breakpoint-md){
        line-height: 1.45;
        margin: 0 0 10px;
        padding: 0 10px;
        font-size: 18px;
      }
      &:before{
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-right: 1em;
        @media (max-width: $breakpoint-xl){
          display: block;
          margin: 0 auto;
        }
      }
      &:nth-of-type(1){
        &:before{
          @include sprite($s-important1);
        }
      }
      &:nth-of-type(2){
        &:before{
          @include sprite($s-important2);
        }
      }
      &:nth-of-type(3){
        &:before{
          @include sprite($s-important3);
        }
      }
      &:nth-of-type(4){
        &:before{
          @include sprite($s-important4);
        }
      }
      &:nth-of-type(5){
        &:before{
          @include sprite($s-important5);
        }
      }
      &:nth-of-type(6){
        &:before{
          @include sprite($s-important6);
        }
      }
    }
  }
}
