// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$s-adv-charge-name: 's-adv-charge';
$s-adv-charge-x: 0px;
$s-adv-charge-y: 264px;
$s-adv-charge-offset-x: 0px;
$s-adv-charge-offset-y: -264px;
$s-adv-charge-width: 113px;
$s-adv-charge-height: 112px;
$s-adv-charge-total-width: 546px;
$s-adv-charge-total-height: 376px;
$s-adv-charge-image: '../img/png-sprite.png';
$s-adv-charge: (0px, 264px, 0px, -264px, 113px, 112px, 546px, 376px, '../img/png-sprite.png', 's-adv-charge', );
$s-adv-lamp-name: 's-adv-lamp';
$s-adv-lamp-x: 430px;
$s-adv-lamp-y: 0px;
$s-adv-lamp-offset-x: -430px;
$s-adv-lamp-offset-y: 0px;
$s-adv-lamp-width: 116px;
$s-adv-lamp-height: 100px;
$s-adv-lamp-total-width: 546px;
$s-adv-lamp-total-height: 376px;
$s-adv-lamp-image: '../img/png-sprite.png';
$s-adv-lamp: (430px, 0px, -430px, 0px, 116px, 100px, 546px, 376px, '../img/png-sprite.png', 's-adv-lamp', );
$s-adv-mob-name: 's-adv-mob';
$s-adv-mob-x: 430px;
$s-adv-mob-y: 205px;
$s-adv-mob-offset-x: -430px;
$s-adv-mob-offset-y: -205px;
$s-adv-mob-width: 68px;
$s-adv-mob-height: 110px;
$s-adv-mob-total-width: 546px;
$s-adv-mob-total-height: 376px;
$s-adv-mob-image: '../img/png-sprite.png';
$s-adv-mob: (430px, 205px, -430px, -205px, 68px, 110px, 546px, 376px, '../img/png-sprite.png', 's-adv-mob', );
$s-adv-zoom-name: 's-adv-zoom';
$s-adv-zoom-x: 430px;
$s-adv-zoom-y: 102px;
$s-adv-zoom-offset-x: -430px;
$s-adv-zoom-offset-y: -102px;
$s-adv-zoom-width: 101px;
$s-adv-zoom-height: 101px;
$s-adv-zoom-total-width: 546px;
$s-adv-zoom-total-height: 376px;
$s-adv-zoom-image: '../img/png-sprite.png';
$s-adv-zoom: (430px, 102px, -430px, -102px, 101px, 101px, 546px, 376px, '../img/png-sprite.png', 's-adv-zoom', );
$s-arrow1-name: 's-arrow1';
$s-arrow1-x: 195px;
$s-arrow1-y: 193px;
$s-arrow1-offset-x: -195px;
$s-arrow1-offset-y: -193px;
$s-arrow1-width: 172px;
$s-arrow1-height: 42px;
$s-arrow1-total-width: 546px;
$s-arrow1-total-height: 376px;
$s-arrow1-image: '../img/png-sprite.png';
$s-arrow1: (195px, 193px, -195px, -193px, 172px, 42px, 546px, 376px, '../img/png-sprite.png', 's-arrow1', );
$s-arrow2-name: 's-arrow2';
$s-arrow2-x: 115px;
$s-arrow2-y: 264px;
$s-arrow2-offset-x: -115px;
$s-arrow2-offset-y: -264px;
$s-arrow2-width: 253px;
$s-arrow2-height: 46px;
$s-arrow2-total-width: 546px;
$s-arrow2-total-height: 376px;
$s-arrow2-image: '../img/png-sprite.png';
$s-arrow2: (115px, 264px, -115px, -264px, 253px, 46px, 546px, 376px, '../img/png-sprite.png', 's-arrow2', );
$s-arrow3-name: 's-arrow3';
$s-arrow3-x: 0px;
$s-arrow3-y: 193px;
$s-arrow3-offset-x: 0px;
$s-arrow3-offset-y: -193px;
$s-arrow3-width: 193px;
$s-arrow3-height: 69px;
$s-arrow3-total-width: 546px;
$s-arrow3-total-height: 376px;
$s-arrow3-image: '../img/png-sprite.png';
$s-arrow3: (0px, 193px, 0px, -193px, 193px, 69px, 546px, 376px, '../img/png-sprite.png', 's-arrow3', );
$s-arrow4-name: 's-arrow4';
$s-arrow4-x: 0px;
$s-arrow4-y: 0px;
$s-arrow4-offset-x: 0px;
$s-arrow4-offset-y: 0px;
$s-arrow4-width: 200px;
$s-arrow4-height: 83px;
$s-arrow4-total-width: 546px;
$s-arrow4-total-height: 376px;
$s-arrow4-image: '../img/png-sprite.png';
$s-arrow4: (0px, 0px, 0px, 0px, 200px, 83px, 546px, 376px, '../img/png-sprite.png', 's-arrow4', );
$s-examples-arrow-name: 's-examples-arrow';
$s-examples-arrow-x: 202px;
$s-examples-arrow-y: 117px;
$s-examples-arrow-offset-x: -202px;
$s-examples-arrow-offset-y: -117px;
$s-examples-arrow-width: 24px;
$s-examples-arrow-height: 37px;
$s-examples-arrow-total-width: 546px;
$s-examples-arrow-total-height: 376px;
$s-examples-arrow-image: '../img/png-sprite.png';
$s-examples-arrow: (202px, 117px, -202px, -117px, 24px, 37px, 546px, 376px, '../img/png-sprite.png', 's-examples-arrow', );
$s-gar-box-name: 's-gar-box';
$s-gar-box-x: 0px;
$s-gar-box-y: 85px;
$s-gar-box-offset-x: 0px;
$s-gar-box-offset-y: -85px;
$s-gar-box-width: 150px;
$s-gar-box-height: 106px;
$s-gar-box-total-width: 546px;
$s-gar-box-total-height: 376px;
$s-gar-box-image: '../img/png-sprite.png';
$s-gar-box: (0px, 85px, 0px, -85px, 150px, 106px, 546px, 376px, '../img/png-sprite.png', 's-gar-box', );
$s-gar-calendar-name: 's-gar-calendar';
$s-gar-calendar-x: 202px;
$s-gar-calendar-y: 0px;
$s-gar-calendar-offset-x: -202px;
$s-gar-calendar-offset-y: 0px;
$s-gar-calendar-width: 122px;
$s-gar-calendar-height: 115px;
$s-gar-calendar-total-width: 546px;
$s-gar-calendar-total-height: 376px;
$s-gar-calendar-image: '../img/png-sprite.png';
$s-gar-calendar: (202px, 0px, -202px, 0px, 122px, 115px, 546px, 376px, '../img/png-sprite.png', 's-gar-calendar', );
$s-gar-label-name: 's-gar-label';
$s-gar-label-x: 326px;
$s-gar-label-y: 0px;
$s-gar-label-offset-x: -326px;
$s-gar-label-offset-y: 0px;
$s-gar-label-width: 102px;
$s-gar-label-height: 133px;
$s-gar-label-total-width: 546px;
$s-gar-label-total-height: 376px;
$s-gar-label-image: '../img/png-sprite.png';
$s-gar-label: (326px, 0px, -326px, 0px, 102px, 133px, 546px, 376px, '../img/png-sprite.png', 's-gar-label', );
$s-important1-name: 's-important1';
$s-important1-x: 504px;
$s-important1-y: 317px;
$s-important1-offset-x: -504px;
$s-important1-offset-y: -317px;
$s-important1-width: 35px;
$s-important1-height: 35px;
$s-important1-total-width: 546px;
$s-important1-total-height: 376px;
$s-important1-image: '../img/png-sprite.png';
$s-important1: (504px, 317px, -504px, -317px, 35px, 35px, 546px, 376px, '../img/png-sprite.png', 's-important1', );
$s-important2-name: 's-important2';
$s-important2-x: 326px;
$s-important2-y: 135px;
$s-important2-offset-x: -326px;
$s-important2-offset-y: -135px;
$s-important2-width: 34px;
$s-important2-height: 33px;
$s-important2-total-width: 546px;
$s-important2-total-height: 376px;
$s-important2-image: '../img/png-sprite.png';
$s-important2: (326px, 135px, -326px, -135px, 34px, 33px, 546px, 376px, '../img/png-sprite.png', 's-important2', );
$s-important3-name: 's-important3';
$s-important3-x: 430px;
$s-important3-y: 317px;
$s-important3-offset-x: -430px;
$s-important3-offset-y: -317px;
$s-important3-width: 35px;
$s-important3-height: 37px;
$s-important3-total-width: 546px;
$s-important3-total-height: 376px;
$s-important3-image: '../img/png-sprite.png';
$s-important3: (430px, 317px, -430px, -317px, 35px, 37px, 546px, 376px, '../img/png-sprite.png', 's-important3', );
$s-important4-name: 's-important4';
$s-important4-x: 467px;
$s-important4-y: 317px;
$s-important4-offset-x: -467px;
$s-important4-offset-y: -317px;
$s-important4-width: 35px;
$s-important4-height: 35px;
$s-important4-total-width: 546px;
$s-important4-total-height: 376px;
$s-important4-image: '../img/png-sprite.png';
$s-important4: (467px, 317px, -467px, -317px, 35px, 35px, 546px, 376px, '../img/png-sprite.png', 's-important4', );
$s-important5-name: 's-important5';
$s-important5-x: 500px;
$s-important5-y: 243px;
$s-important5-offset-x: -500px;
$s-important5-offset-y: -243px;
$s-important5-width: 36px;
$s-important5-height: 36px;
$s-important5-total-width: 546px;
$s-important5-total-height: 376px;
$s-important5-image: '../img/png-sprite.png';
$s-important5: (500px, 243px, -500px, -243px, 36px, 36px, 546px, 376px, '../img/png-sprite.png', 's-important5', );
$s-important6-name: 's-important6';
$s-important6-x: 500px;
$s-important6-y: 205px;
$s-important6-offset-x: -500px;
$s-important6-offset-y: -205px;
$s-important6-width: 37px;
$s-important6-height: 36px;
$s-important6-total-width: 546px;
$s-important6-total-height: 376px;
$s-important6-image: '../img/png-sprite.png';
$s-important6: (500px, 205px, -500px, -205px, 37px, 36px, 546px, 376px, '../img/png-sprite.png', 's-important6', );
$s-reviews-arrow-name: 's-reviews-arrow';
$s-reviews-arrow-x: 500px;
$s-reviews-arrow-y: 281px;
$s-reviews-arrow-offset-x: -500px;
$s-reviews-arrow-offset-y: -281px;
$s-reviews-arrow-width: 34px;
$s-reviews-arrow-height: 34px;
$s-reviews-arrow-total-width: 546px;
$s-reviews-arrow-total-height: 376px;
$s-reviews-arrow-image: '../img/png-sprite.png';
$s-reviews-arrow: (500px, 281px, -500px, -281px, 34px, 34px, 546px, 376px, '../img/png-sprite.png', 's-reviews-arrow', );
$s-tel-name: 's-tel';
$s-tel-x: 362px;
$s-tel-y: 135px;
$s-tel-offset-x: -362px;
$s-tel-offset-y: -135px;
$s-tel-width: 25px;
$s-tel-height: 24px;
$s-tel-total-width: 546px;
$s-tel-total-height: 376px;
$s-tel-image: '../img/png-sprite.png';
$s-tel: (362px, 135px, -362px, -135px, 25px, 24px, 546px, 376px, '../img/png-sprite.png', 's-tel', );
$spritesheet-width: 546px;
$spritesheet-height: 376px;
$spritesheet-image: '../img/png-sprite.png';
$spritesheet-sprites: ($s-adv-charge, $s-adv-lamp, $s-adv-mob, $s-adv-zoom, $s-arrow1, $s-arrow2, $s-arrow3, $s-arrow4, $s-examples-arrow, $s-gar-box, $s-gar-calendar, $s-gar-label, $s-important1, $s-important2, $s-important3, $s-important4, $s-important5, $s-important6, $s-reviews-arrow, $s-tel, );
$spritesheet: (546px, 376px, '../img/png-sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
