include ../abstracts/bemto/bemto.pug

// Footer
+b.FOOTER.footer
  .container
    +e.wrapper
      +b.A.logo--pink(href="#") Интернет-магазин настольных зеркал
      +e.btn-wrapper
        +b.A.tel(href="tel:88005555555", target="_blank") 8 800 555 55 55
        +b.A.btn(href="#questions") ЗАКАЖИТЕ КОНСУЛЬТАЦИЮ
      +e.copyright © САЙТ ЗАЩИЩЕН АВТОРСКИМИ ПРАВАМИ, ЛЮБОЕ КОПИРОВАНИЕ МАТЕРИАЛОВ САЙТА БЕЗ СОГЛАСОВАНИЯ С ПРАВООБЛАДАТЕЛЕМ ВЛЕЧЕТ К УГОЛОВНОЙ ОТВЕТСТВЕННОСТИ (СТ. 146 УК РФ). ЛЮБОЕ КОПИРОВАНИЕ ИНФОРМАЦИИ ЗАПРЕЩЕНО. И.П Маркерт Е.О ОГРНИП 315631300043877 г.Москва Чермянский проезд дом 5
      +e.links-wrapper
        +e.A.link(href="#") ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
        +e.A.email(href="mailto:info@goods2014.ru", target="_blank") СЛУЖБА ПОДДЕРЖКИ: INFO@GOODS2014.RU

//- // Overlay
//- +b.overlay
//-   +e.bg
//-   +e.form
//-     +e.close(href="/")



