<!-- Footer-->
<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <a class="logo logo--pink" href="#">Интернет-магазин настольных зеркал</a>
      <div class="footer__btn-wrapper">
        <a class="tel" href="tel:88005555555" target="_blank">8 800 555 55 55</a>
        <a class="btn" href="#questions">ЗАКАЖИТЕ КОНСУЛЬТАЦИЮ</a>
      </div>
      <div class="footer__copyright">© САЙТ ЗАЩИЩЕН АВТОРСКИМИ ПРАВАМИ, ЛЮБОЕ КОПИРОВАНИЕ МАТЕРИАЛОВ САЙТА БЕЗ СОГЛАСОВАНИЯ С ПРАВООБЛАДАТЕЛЕМ ВЛЕЧЕТ К УГОЛОВНОЙ ОТВЕТСТВЕННОСТИ (СТ. 146 УК РФ). ЛЮБОЕ КОПИРОВАНИЕ ИНФОРМАЦИИ ЗАПРЕЩЕНО. И.П Маркерт Е.О ОГРНИП 315631300043877 г.Москва
        Чермянский проезд дом 5</div>
      <div class="footer__links-wrapper">
        <a class="footer__link" href="#">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a>
        <a class="footer__email" href="mailto:info@goods2014.ru" target="_blank">СЛУЖБА ПОДДЕРЖКИ: INFO@GOODS2014.RU</a>
      </div>
    </div>
  </div>
</footer>